@model IEnumerable<OpisKolegija2.Models.CourseAssistents>

@{
    ViewBag.Title = "Course Assistents";
}

<h2>Course Assistents</h2>

<p>
    <a asp-controller="CourseAssistents" asp-action="Create">Create New</a>
</p>

<table class="table">
    <tr>
        <th>Ime predmeta</th>
        <th>Ime asistenta</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Courses.CourseTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assistents.Assistent)
            </td>
            <td>
                @Html.ActionLink("Obriši Vezu", "Delete", "CourseAssistents", new { _idCourse=item.CourseId, _idAssistent=item.AssistentId }, null)
            </td>
        </tr>
    }
</table>